body {
	background-color: #dddedf;
}
.sub-content {
	display: block;
	border: 1px solid black;
	padding: 8px;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.1), 0 1px 0px 0px rgba(0, 0, 0, 0.1),
		0px 0px 15px -3px rgba(0, 0, 0, 0.1),
		2px 0px 20px -3px rgba(38, 137, 222, 0.1);
	margin-bottom: 8px;
}
.navbar-brand {
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	width: auto;
	font-family: "Permanent Marker", cursive;
	color: black;
	text-shadow: 2px 2px #888888;
	transition: all 1s;
	cursor: pointer;
}
.navbar {
	display: inline-block;
	float: right;
}
.class {
	display: block;
	padding-left: 0%;
}

img {
	height: 100px;
	width: 100px;
}
